body {
  padding: 2% 5%;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 85% 15%;
}

.grid-item1 {
  height: 50px;
  width: 100%;
}

.grid-button {
  font-size: 18px;
  margin: 5% 0;
  text-align: right;
  width: 100%;
}

button {
  font-size: 18px;
  width: 100%;
}

td {
  padding: 5px;
  text-align: left;
}

/*Dropdown style */

tr#DVD {
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  display: block;
  height: auto;
  padding: 5px;
  width: 325px;
}

tr#Book {
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  display: block;
  height: auto;
  padding: 5px;
  width: 325px;
}

tr#Furniture {
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  display: block;
  height: auto;
  padding: 5px;
  width: 325px;
}

/*Table formatting */

.space {
  display: inline-block;
  width: 108px;
}

.td {
  display: inline-block;
}

.td1 {
  display: inline;
}
